body{
  margin: 0;
  background-color: antiquewhite;
}
.img{  
  display: inline-block;
  box-sizing: border-box;
  width: 200px;
  height: 150px;
  padding: 3px;
  border: solid 1px rgb(141, 137, 137);
  /* margin: 3px; */
  background-color: white;
  object-fit: cover;
}
